body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

body:has(.backdrop.is-open),
body:has(.mobile-menu.is-open) {
  overflow-y: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.header-cont {
  border-bottom: 1px solid #060607;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;

  flex-grow: 1;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}

.accent {
  color: #4d5ae5;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .header-menu-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-menu-list {
  margin-right: auto;
  }
}

@media only screen and (min-width: 1158px) {
  .header-menu-list {
  margin-right: auto;
  }
}

.header-menu-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header-menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  position: relative;
}

.header-menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-list {
  display: block;
  align-items: center;
  gap: 40px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

@media only screen and (min-width: 768px) {
  .header-contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
}

@media only screen and (min-width: 1158px) {
  .header-contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media only screen and (max-width: 767.98px) {
  .header-contacts-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .header-contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-menu-link.current {
  color: #404bbf;
}

/* Hero */


.hero-solutions {
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office_mob@1x.jpg);
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_mob@2x.jpg");
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px){
  .hero-solutions {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office_tab@1x.jpg);
  }

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_tab@2x.jpg");
  }
}
}

@media only screen and (min-width: 1158px) {
  .hero-solutions {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office_desk@1x.jpg);
  }

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-solutions {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/people-office_desk@2x.jpg");
  }
}
}
.hero-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 216px;
  margin: auto;
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-main {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    padding-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-main {
    padding-bottom: 48px;
  }
}

.hero-btn-container {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Hero title */

.hero-title {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .hero-title {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.hero-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .hero-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-list {
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title-item {
    width: calc((100% - 24px) / 2);
    position: relative;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title-item {
    width: calc((100% - 72px) / 4);
    position: relative;
  }
}

.hero-title-icon {
  display: none;
}

@media screen and (min-width: 1158px) {
  .hero-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
  }
}

.hero-title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .hero-title-list {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
    padding-bottom: 8px;
  }
}

.hero-title-list-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .hero-title-list-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
  }
}

/* Hero team */

.hero-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .hero-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.hero-team-main-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.hero-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-team-list {
    gap: 24px;
  }
}

.hero-team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.hero-team-name-prof-d {
  padding: 32px 16px 32px 16px;
  width: 264px;
}

.hero-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.hero-team-profession {
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

.hero-team-contacts-list {
  display: flex;
  gap: 24px;
}

.hero-team-icon-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-icon-link:hover,
.hero-icon-link:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.hero-team-contacts-item-svg {
  fill: #f4f4fd;
}

/* Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-items {
  width: 100%;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-items {
    width: calc((100% - 24px) / 2);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-items {
    width: calc((100% - 48px) / 3);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-items:hover {
    box-shadow:
      0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.portfolio-items-hower {
  position: relative;
  overflow: hidden;
}

.portfolio-items-hower-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 0 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover .portfolio-items-hower-text {
  transform: translateY(0);
}

.portfolio-title-descr-d {
  padding: 32px 16px 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  width: 100%;
  height: 120px;
}

@media screen and (min-width: 1158px) {
  .portfolio-title-descr-d {
    width: 360px;
  }
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.portfolio-description {
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
.footer  {
    padding: 100px 0;
    }
  }

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
.footer .container  {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    }
  }

@media screen and (min-width: 768px) and (max-width: 1157.98px){
.footer .container  {
    padding: 0 108px;
    }
  }

@media screen and (min-width: 1158px) {
.footer .container  {
    gap: 0;
    align-items: flex-start;
    }
  }

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text{
text-align: left;  
letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  padding-top: 16px;
  justify-content: center;
  text-align: left;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 264px;
}

@media screen and (min-width: 1158px) {
.footer-logo-text  {
    margin-right: auto;
    }
  }

.footer-logo-text-sm {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

@media screen and (min-width: 1158px) {
.footer-logo-text-sm  {
  margin-right: auto;
    }
  }

.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 16px;
}

.footer-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
  cursor: pointer;
}

.footer-media-icon-svg {
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 453px;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form {
  flex-direction: row;
  gap: 24px;
  }
}

.footer-input {
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #fff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-input:hover,
.footer-input:focus {
  border-color: #31d0aa;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  padding-left: 24px;
  align-items: center;
  display: flex;
  gap: 16px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.footer-form-btn-svg {
  fill: #fff;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
} 

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 16px;
  max-width: 288px;
  min-height: 623px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-origin: 4px;
  cursor: pointer;
  padding: 0;
  background-color: #e7e9fc;
  display: flex;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  color: #fff;
}

.modal-close-svg {
  fill: currentColor;
}

.modal-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-svg {
  fill: #2e2f42;
}

.modal-input-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-svg {
  fill: #4d5ae5;
}

.modal-input-comment {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(66, 46, 48, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  outline: transparent;
}

.modal-input-svg {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-lable:focus {
  border-color: #4d5ae5;
}

.modal-field-comment {
  position: relative;
  margin-bottom: 16px;
}

.modal-lable-comment {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-text-area {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area:focus {
  border-color: #4d5ae5;
}

.modal-check-label {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label .modal-check-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
}

.feedback-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-policy {
  margin-bottom: 24px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-btn {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  cursor: pointer;
  width: 169px;
  justify-content: center;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/* Mobile menu */

.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
  display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;
  background-color: #fff;
  transition: transform 300ms ease-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;;
}

.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu .mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-icon {
  stroke: currentColor;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link.active {
  color: #404bbf;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-link-color {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
}

.mobile-media-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.mobile-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #31d0aa;
  cursor: pointer;
}

.mobile-media-icon-svg {
  fill: #f4f4fd;
}
